<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<body>
<pre>
A9w3 - a text driven web
^^^^^^^^^^^^^^^^^^^^^^^^
- License: GNU Lesser General Public License (LGPL)
- Version: 20080701

0. Sections
^^^^^^^^^^^
[[&lt;=$INDEX]]

1. main links
^^^^^^^^^^^^^
*) [[my home (www.trydofor.com)=&gt;http://www.trydofor.com]]
*) [[project home=&gt;http://sourceforge.net/projects/a9w3]]
*) [[project cvs=&gt;http://a9w3.cvs.sourceforge.net/a9w3/]]
*) [[download zip file (local,lastest)=&gt;http://a9w3.sourceforge.net/a9w3.zip]]
*) [[a9text project=&gt;http://a9text.sf.net]]

2. cvs access
^^^^^^^^^^^^^
cvs co -P a9w3

*) developer: CVSROOT=:ext:trydofor@a9w3.cvs.sourceforge.net:/cvsroot/a9w3
*) anonymous: CVSROOT=:pserver:anonymous@a9w3.cvs.sourceforge.net:/cvsroot/a9w3

==============================================================================
[[<=http://sflogo.sourceforge.net/sflogo.php?group_id=232742&amp;type=3&amp;type=.png=>http://sourceforge.net]]
</pre>
<script type='text/javascript' src='../../../a9w3-engine/3rdp/a9text/a9loader.js'></script>
<script type='text/javascript' src='../../../a9w3-engine/core/reader/item-a9text.js'></script>
</body>