<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
body,td,pre{
	font-size: 12px;
	font-family:"宋体",Helvetica,Verdana;
}
</style>
<pre>
0----+----1----+----2----+----3----+----4----+----5----+----6----+----7-|
      (~)                                                  ╭─╯
     ╭~﹋⌒╮           今| 古| 静| 泠|     ﹁          ╭╯    
   ╭╮   ^ ^)           人| 调| 听| 泠|  刘 弹          │      
  ╭\9    ﹀﹀           不| 虽| 松| 七|  长 琴                  
 _//╰-  __○_           多| 自| 风| 弦|  卿 ﹂          ╰╮    
┄╯  \ ╭┄-            弹| 爱| 寒| 上|  ▓             ╭╯    
     ╭\ \╮                                                     
    ◢\ ◥/◣o                                           ║      
   ▉   ╮/╮ ﹋)                                        ║      
  ▊ (  \    ﹀╮   █══════════════█   ┲━┱    
   ▋   ║ ﹏-- ) ▇████████████████▇▕____▎   
     ︶︶︶O﹀╯      】                        【       川      
 ___________________________________________________________ 
/                                                           \
|     ____\____   /___ __|__    /________   \ | |  /__      |
|    | _______ |    |    |  |  /   |  |  \  _ | | / \       |
|         |       --|----|---     /  /   |    .-----.       |
|       __|       |_|_|_/ \__    /  /  __|  /_|_|_|_|_      |
|                                                           |
\___________________________________________________________/

</pre>
