<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../../data/style/black/list.css" rel="stylesheet" type="text/css">
<fieldset style="padding:10px;">
<div id="STATUS" style="background-color:#EFEFEF"></div>
</fieldset>
<br />
<fieldset style="padding:10px;">
<div id="READER" style="background-color:#EFEFEF"></div>
<div style="text-align:right"  height="14" width="100%"><a href="item-rdstat.htm" target="A9W3_ITEM_WIN">read more</a></div>
</fieldset>
<br />
<fieldset style="padding:10px;">
<div id="ACTION" style="background-color:#EFEFEF"></div>
<div style="text-align:right"  height="14" width="100%"><a href="item-status.htm" target="A9W3_ITEM_WIN">read more</a></div>
</fieldset>

<script type="text/javascript" src="../../core/reader/list-status.js"></script>
