<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../../data/style/black/list.css" rel="stylesheet" type="text/css">
<table border='0' cellspacing='0' cellpadding='0' width='100%'>
<tr><td id="READER" class='a9w3_list_line'></td></tr>
<tr><td id="STATUS" class='a9w3_list_line'></td></tr>
<tr><td id="ACTION" class='a9w3_list_line'></td></tr>
</table>
<div style="text-align:right"  height="14" width="100%"><a href="item-status.htm" target="A9W3_ITEM_WIN">read more</a></div>
<script type="text/javascript" src="../../core/reader/list-status.js"></script>
