<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../../data/style/black/board.css" rel="stylesheet" type="text/css">
<table border='0' cellspacing='2' cellpadding='0' width='100%'>
<form target="__DATA_POSTER__" id="__DATA_FORM__" method="POST"  enctype="multipart/form-data">
<tr>
	<td width="30"><strong>From</strong></td>
	<td><input type="text" name="FROM" id="FROM" class="a9w3_board_from"></td>
</tr>
<tr>
	<td><strong>Code</strong></td>
	<td><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="50%"><input type="text"  name="CODE" id="CODE"  class="a9w3_board_code"></td>
		<td width="12">&nbsp;</td>
        <td style="vertical-align: middle;"><img onclick="loadCode()" title="change code" src="../../data/image/loading-circle-grace-m.gif" id="__CODE__" alt="random code"></td>
      </tr>
    </table>
	</td>
</tr>
<tr>
	<td><strong>Text</strong></td>
	<td><textarea type="textarea"  name="TEXT" id="TEXT"   class="a9w3_board_text"></textarea></td>
</tr>
<tr>
<td>&nbsp;</td>
  <td><input type="button"  onclick="onSaveBoard()" name="Submit" value="Submit" class="a9w3_board_button">
    <input type="reset" name="Reset" value="Reset"  class="a9w3_board_button"></td>
</tr>
</form>
</table>
<br />
<table style="border-top:1px dashed #DDDDDD;border-bottom:1px dashed #DDDDDD;overflow:hidden;" border='0' cellspacing='2' cellpadding='5' width='100%'>
<tr><td id="__BOARDINFO__"></td></tr>
</table>
<div style="text-align:right"  height="14" width="100%"><a href="item-board.htm" target="A9W3_ITEM_WIN">read all (<span id="__BOARDSIZE__">0</span>)</a></div>

<iframe onload="try{onDataResponse()}catch(e){}" onreadystatechange="try{onDataResponse()}catch(e){}" id="__DATA_POSTER__" name="__DATA_POSTER__" width='0px' height='0' frameborder='0' src="about:blank"  style="display:none"></iframe>
<script type="text/javascript" src="../../core/reader/list-board.js"></script>
