<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../../data/style/black/list.css" rel="stylesheet" type="text/css">
<link href="../../data/style/black/board.css" rel="stylesheet" type="text/css">

<table border='0' cellspacing='2' cellpadding='0' width='100%'>
<tr>
  <td><a href="item-board.htm" target="A9W3_ITEM_WIN">items</a></td>
</tr>
<tr>
  <td><input type="text" name="textfield" class="a9w3_board_user"></td>
</tr>
<tr>
  <td><textarea name="textarea"  class="a9w3_board_text"></textarea></td>
</tr>
<tr>
  <td><input type="button" name="Submit" value="Submit" class="a9w3_board_button">
    <input type="button" name="Submit2" value="Reset"  class="a9w3_board_button"></td>
</tr>
</table>