<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../../data/style/black/list.css" rel="stylesheet" type="text/css">
<table border='0' cellspacing='0' cellpadding='0' width='100%'>
<tr height='20px'><td id="INDEX"  class='a9w3_list_line' style="background-color:#DEDEDE">loading ...</td></tr>
<tr><td id="ACTION" class='a9w3_list_line' style="background-color:#EFEFEF">loading ...</td></tr>
</table>
<script type="text/javascript" src="../../core/reader/item-status.js"></script>
