<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../../data/style/black/ablum.css" rel="stylesheet" type="text/css">
<br />
<table  border='0' align='center' cellpadding='1' cellspacing='0'>
	<tr>
		<td class="a9w3_album_outerbox"><img src='#' id="PICTURE" class="a9w3_album_innerbox"></td>
	</tr>
	<tr><td >&nbsp;</td></tr>
	<tr><td>
		<img src='../../data/image/icon-list-ctime.png' />&nbsp;<span id="CTIME">create time</span>&nbsp;&nbsp;
		<img src='../../data/image/icon-list-pixel.png' />&nbsp;<span id="PIXEL">pixel</span>&nbsp;&nbsp;
		<img src='../../data/image/icon-list-sizeb.png' />&nbsp;<span id="SIZEB">size (bytes)</span>&nbsp;&nbsp;
		<img src='../../data/image/icon-list-views.png' />&nbsp;<span id="VIEWS">hit count</span>
	</td></tr>
	<tr><td><img src='../../data/image/icon-list-label.png'/>&nbsp;<span id="LABEL">labels</span></td></tr>
	<tr><td id="BRIEF">brief</td></tr>
</table>
<script type="text/javascript" src="../../core/reader/item-album.js"></script>
