<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<fieldset style="padding:10px;">
<legend>SiteSearch</legend>
<form action="http://www.baidu.com/baidu" method="get" target="_BLANK">
    <input type="hidden" name="si"   value="www.trydofor.com">
    <input type="hidden" name="tn"   value="bds">
    <input type="hidden" name="cl"   value="3">
    <input type="hidden" name="ct"   value="2097152">
    <input type="text"   name="word" value="" size="20">
    <input type="submit" value="Baidu">
</form>
<form action="http://www.google.com/search" method="get" target="_BLANK">
    <input type="hidden" name="domains" value="www.trydofor.com">
    <input type="hidden" name="sitesearch" value="www.trydofor.com">
    <input type="hidden" name="hl" value="zh-CN">
    <input type="hidden" name="ie" value="UTF-8">
    <input type="text"   name="q"  value="" size="20">
    <input type="submit" value="Google">
</form>
</fieldset>
