BODY {
	overflow:hidden;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 15px;
	width:600px;
}
TEXTAREA
{
	width:100%;
	height:575px;
	margin: 0px;
	padding: 0px;
    font-family: "宋体",Simsun;
}