<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../../data/style/black/ide-a9text.css" rel="stylesheet" type="text/css">
<table width="100%" style="table-layout:fixed" border="0" cellpadding="0" cellspacing="0">
  <tr><td height="20" id="__ART_BTNS__">&nbsp;</td></tr>
  <tr>
    <td><textarea name="__ART_TEXT__" id="__ART_TEXT__" class="a9w3_edit_text_off" onfocus="this.className='a9w3_edit_text_on'" onblur="this.className='a9w3_edit_text_off'"></textarea></td>
  </tr>
</table>
<script type="text/javascript" src="../../3rdp/a9text/com/trydofor/a9js/code/b64.js"></script>
<script type="text/javascript" src="../../3rdp/a9text/com/trydofor/a9js/code/aes.js"></script>
<script type="text/javascript" src="../../core/writer/text-encrypt.js"></script>
<script type="text/javascript" src="../../core/writer/a9text-defs.js"></script>
<script type="text/javascript" src="../../core/writer/ide-a9text.js"></script>
