<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../../data/style/black/editor.css" rel="stylesheet" type="text/css">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="2" cellpadding="0">
      <tr>
        <td width="50"><strong>Title:</strong></td>
        <td><input name="__TITLE__" type="text" id="__TITLE__" style="width:100%;"  class="a9w3_edit_text_off" onfocus="this.className='a9w3_edit_text_on'" onblur="this.className='a9w3_edit_text_off'"/></td>
      </tr>
      <tr>
        <td><strong>Label:</strong></td>
        <td><input name="__LABEL__" type="text" id="__LABEL__" style="width:60%;" class="a9w3_edit_text_off" onfocus="this.className='a9w3_edit_text_on'" onblur="this.className='a9w3_edit_text_off'"/>
            <select name="__LBLNME__" id="__LBLNME__" class="a9w3_edit_text_off" onchange="addLabel()">
              <option value="">== label ==</option>
            </select>
        </td>
      </tr>
      <tr>
        <td><strong>Brief:</strong></td>
        <td><textarea name="__BRIEF__" id="__BRIEF__" class="a9w3_edit_text_off" style="width:100%;" onfocus="this.className='a9w3_edit_text_on'" onblur="this.className='a9w3_edit_text_off'"></textarea></td>
      </tr>
      <tr>
        <td><strong>Data:</strong></td>
        <td><select name="__DATAS__" id="__DATAS__" class="a9w3_edit_text_off" style="width:60%">
            <option value="">== data ==</option>
            </select>
            <input type="button" value="Add" onclick="addData()" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'"  onmouseout="this.className='a9w3_edit_text_off'"/>
            <input type="button" value="Delete" onclick="delData()" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'"  onmouseout="this.className='a9w3_edit_text_off'"/>
            <input type="button" value="View" onclick="viewData()" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'"  onmouseout="this.className='a9w3_edit_text_off'"/>
        </td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="8"></td>
  </tr>
  <tr>
    <td height="600"><iframe onload="try{ideReady()}catch(e){}" id="__EDIOR__" name="__EDIOR__" frameborder='0' src="about:blank"></iframe></td>
  </tr>
  <tr>
    <td height="20">
        <input type="button" id="__BTN_TINYMCE__" name="__BTN_TINYMCE__" onclick="switchEditor(false)" value="TinyMce" style="background-color:#99CCFF" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'"  onmouseout="this.className='a9w3_edit_text_off'"/>
        <input type="button" id="__BTN_A9TEXT__" name="__BTN_A9TEXT__" onclick="switchEditor(true)" value="A9Text" style="background-color:#99CCFF" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'" onmouseout="this.className='a9w3_edit_text_off'"/>
        <input type="button" onclick="preview()" value="Preview" style="background-color:#99CCFF" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'" onmouseout="this.className='a9w3_edit_text_off'"/>
        <input type="button" value="Save" style="background-color:#CC9900" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'" onmouseout="this.className='a9w3_edit_text_off'"/>
        <input type="button" value="Hide" style="background-color:#CC9900" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'" onmouseout="this.className='a9w3_edit_text_off'"/>
        <input type="button" value="Delete" style="background-color:#CC9900" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'" onmouseout="this.className='a9w3_edit_text_off'"/></td>
  </tr>
</table>
<script type="text/javascript" src="../../core/writer/a9w3-paper.js"></script>