<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../../data/style/black/editor.css" rel="stylesheet" type="text/css">
<!-- dialog -->
<div id="__DATA_UPLOAD__" class="a9w3_edit_data_upload_dialog">
  <table width="350"  border="0" cellpadding="0" cellspacing="1">
    <tr>
      <td height="20" class="a9w3_edit_data_upload_title">&nbsp;&nbsp;Data Upload</td>
    </tr>
    <tr>
      <td valign="top"  class="a9w3_edit_data_upload_frame">
      <table width="100%" style="table-layout:fixed;overflow:hidden" border="0" cellspacing="5" cellpadding="0">
        <tr>
          <form target="__DATA_POSTER__" id="__DATA_FORM__" method="POST"  enctype="multipart/form-data">
          <td height="20">
              <input type="file" name="FILE" onchange="onDataChose(this)" style="width:200px" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'"  onmouseout="this.className='a9w3_edit_text_off'"/>&nbsp;
              <input type="button" name="UPLOAD" value="Upload" onclick="onDataUpload()" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'"  onmouseout="this.className='a9w3_edit_text_off'" />
              <input type="button" name="CLOSE" value="Close" onclick="hideDataDialog()" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'"  onmouseout="this.className='a9w3_edit_text_off'"/>
          </td>
          </form>
        </tr>
        <tr>
          <td class="a9w3_edit_text_off" height="200"><img id="__DATA_PREVIEW__" src="../../data/image/default-data-view.jpg"/></td>
        </tr>
      </table>
    </td>
    </tr>
  </table>
</div>
<!-- poster -->
<iframe onload="try{onDataResponse()}catch(e){}" onreadystatechange="try{onDataResponse()}catch(e){}" id="__DATA_POSTER__" name="__DATA_POSTER__" width='0px' height='0' frameborder='0' src="about:blank"  style="display:none"></iframe>
<iframe onload="try{onPaperResponse()}catch(e){}" onreadystatechange="try{onPaperResponse()}catch(e){}" id="__PAPER_POSTER__" name="__PAPER_POSTER__" width='0px' height='0' frameborder='0' src="about:blank" style="display:none"></iframe>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="2" cellpadding="0">
      <tr>
        <td width="50"><strong>Title:</strong></td>
        <td><input name="__TITLE__" type="text" id="__TITLE__" style="width:100%;"  class="a9w3_edit_text_off" onfocus="this.className='a9w3_edit_text_on'" onblur="this.className='a9w3_edit_text_off'"/></td>
      </tr>
      <tr>
        <td><strong>Brief:</strong></td>
        <td><textarea name="__BRIEF__" id="__BRIEF__" class="a9w3_edit_text_off" style="width:100%;" onfocus="this.className='a9w3_edit_text_on'" onblur="this.className='a9w3_edit_text_off'"></textarea></td>
      </tr>
      <tr>
        <td><strong>Data:</strong></td>
        <td><select name="__DATAS__" id="__DATAS__" class="a9w3_edit_text_off" style="width:60%">
            <option value="">== data ==</option>
            </select>
            <input type="button" value="Add" onclick="showDataDialog()" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'"  onmouseout="this.className='a9w3_edit_text_off'"/>
            <input type="button" value="Delete" onclick="onDelData()" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'"  onmouseout="this.className='a9w3_edit_text_off'"/>
            <input type="button" value="View" onclick="onViewData()" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'"  onmouseout="this.className='a9w3_edit_text_off'"/>
        </td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="8">
    <form target="__PAPER_POSTER__" id="__PAPER_FORM__" method="POST" enctype="multipart/form-data" style="display:none">
		<input type="hidden" name="TITLE" id="TITLE" value="" />
		<input type="hidden" name="BRIEF" id="BRIEF" value="" />
		<input type="hidden" name="XTEXT" id="XTEXT" value="" />
    </form>
    </td>
  </tr>
  <tr>
    <td height="600">
        <iframe onload="try{ideReady()}catch(e){}" id="__EDIOR__" name="__EDIOR__" frameborder='0' src="about:blank"></iframe>
    </td>
  </tr>
  <tr>
    <td height="20">
        <input type="button" id="__BTN_TINYMCE__" name="__BTN_TINYMCE__" onclick="onSwitchEditor(false)" value="TinyMce" style="background-color:#99CCFF" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'"  onmouseout="this.className='a9w3_edit_text_off'"/>
        <input type="button" id="__BTN_A9TEXT__" name="__BTN_A9TEXT__" onclick="onSwitchEditor(true)" value="A9Text" style="background-color:#99CCFF" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'" onmouseout="this.className='a9w3_edit_text_off'"/>
        <input type="button" onclick="onViewPaper()" value="Preview" style="background-color:#99CCFF" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'" onmouseout="this.className='a9w3_edit_text_off'"/>
        <input type="button" onclick="onOpenCodeTool()" value="CodeTool" style="background-color:#99CC00" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'" onmouseout="this.className='a9w3_edit_text_off'"/>
        <input type="button" onclick="onOpenSetTool()" value="SetTool" style="background-color:#99CC00" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'" onmouseout="this.className='a9w3_edit_text_off'"/>
        <input type="button" onclick="onSavePaper(false)"  value="Save" style="background-color:#CC9900" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'" onmouseout="this.className='a9w3_edit_text_off'"/>
        <input type="button" onclick="onSavePaper(true)"  value="SaveAs" style="background-color:#CC9900" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'" onmouseout="this.className='a9w3_edit_text_off'"/>
        <input type="button" id="__BTN_DELETE__" onclick="onDeletePaper()" value="Delete" style="background-color:#CC9900" class="a9w3_edit_text_off"  onmouseover="this.className='a9w3_edit_text_on'" onmouseout="this.className='a9w3_edit_text_off'" disabled/>
    </td>
  </tr>
</table>

<script type="text/javascript" src="../../core/writer/a9text-defs.js"></script>
<script type="text/javascript" src="../../core/writer/data-upload.js"></script>
<script type="text/javascript" src="../../core/writer/item-notice.js"></script>