body{
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

pre{
    margin-bottom:0px;
    width:100%;
}

table{
	table-layout:fixed;
}

.a9text_breakall{
    white-space:normal;
    word-break:break-all; 
    word-wrap:break-word;
    line-height:150%;
    margin:0px;
}
.a9text_autoscroll{
	overflow:auto;
}
.a9text_root{
    white-space:normal;
    word-break:break-all; 
    word-wrap:break-word;
    line-height:175%;
    font-size:200%;
    color:#990000;
    font-weight:bolder;
    margin:0px;
}
.a9text_info{
    white-space:normal;
    word-break:break-all; 
    word-wrap:break-word;
    line-height:90%;
    font-size:100%;
    color:#333333;
    margin:4ex;
}
.a9text_sect_head{
    margin:0px;
    padding:0px;
}
.a9text_sect_1{
    white-space:normal;
    word-break:break-all; 
    word-wrap:break-word;
    line-height:175%;
    font-size:200%;
    color:#990000;
    font-weight:bolder;
    margin:0px;
}
.a9text_sect_2{
    white-space:normal;
    word-break:break-all; 
    word-wrap:break-word;
    color:#990000;
    line-height:175%;
    font-size:175%;
    font-weight:bolder;
    margin:0px;
}
.a9text_sect_3{
    white-space:normal;
    word-break:break-all; 
    word-wrap:break-word;
    color:#990000;
    line-height:175%;
    font-size:150%;
    font-weight:bolder;
    margin:0px;
}
.a9text_sect_4{
    white-space:normal;
    word-break:break-all; 
    word-wrap:break-word;
    color:#990000;
    line-height:175%;
    font-size:125%;
    font-weight:bolder;
    margin:0px;
}
.a9text_sect_5{
    white-space:normal;
    word-break:break-all; 
    word-wrap:break-word;
    color:#990000;
    line-height:175%;
    font-size:100%;
    font-weight:bolder;
    margin:0px;
}
.a9text_list_item {
    margin:0ex;
    padding-left:4ex;
    list-style-position: outside;
}
.a9text_list_step {
    margin:0ex;
    padding-left:4ex;
    list-style-position: outside;
}
.a9text_list_entry {
    margin:0ex;
    padding:0ex;
    list-style-position: outside;
}
.a9text_anchor {
    text-decoration: none;
    color:#0066CC;
    background-color:#dddddd;
}
.a9text_link {
    text-decoration: none;
    color:#0066CC;
}
.a9text_link:hover{
    text-decoration: underline;
    color:#FF0000; background-color:#dddddd;
}
.a9text_area{
    width:100%;
    padding:6px;
    border:1px dashed #666699;
}
.a9text_area_info{
    background-color:#999999;
    color:#FFFFFF;
}
.a9text_area_syntax{
    width:100%;
}
.a9text_area_syntax_border{
    border:1px dashed #666699;
}
.a9text_area_syntax_info{
    background-color:#999999;
    color:#FFFFFF;
}
.a9text_area_syntax_lnum{
    width:4ex;
    background-color:#DDDDDD;
    color:#990000;
    border-right:1px solid #666699;
}
.a9text_area_table_info{
    background-color:#666699;
    color:#FFFFFF;
}
.a9text_area_table_head{
    background-color:#666699;
}
.a9text_area_table_row{
    font-size: 12px;
    background-color:#FFFFFF;
}
.a9text_area_b64_word{
    color:#999999;
}
